<?xml version="1.0"?>

<robot name="vesc_test">
  <link name="base_link"/>
  <joint name="vesc_joint" type="revolute">
    <parent link="base_link"/>
    <child link="vesc_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" lower="-100" upper="100" velocity="1000"/>
    <safety_controller k_velocity="10" k_position="15" soft_lower_limit="-2.0" soft_upper_limit="0.5" />
  </joint>
  <link name="vesc_link"/>
</robot>
