<?xml version="1.0" encoding="UTF-8"?>
<!-- -*- mode: XML -*- -->
<launch>
  <!-- Controller -->
  <arg name="model" default="$(find vesc_hw_interface)/launch/test.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <!-- Boot hardware interfaces -->
  <node name="vesc_hw_interface_node" pkg="vesc_hw_interface" type="vesc_hw_interface_node" output="screen">
    <rosparam>
      joint_name: vesc_joint
      command_mode: velocity_duty
      joint_type: continuous
      port: /dev/ttyACM0
      num_rotor_poles: 20
      gear_ratio: 0.230769
      torque_const: 1
      motor:
        Kp: 0.04
        Ki: 0.1
        Kd: 0.04
        i_clamp: 1.0
        duty_limiter: 1.0
        antiwindup: true
        control_rate: 100
        enable_smooth_diff: true
        smooth_diff:
          max_sample_sec: 1.0
          max_smooth_step: 10
    </rosparam>
  </node>

  <!-- Boot ros_controllers -->
  <rosparam>
    joint_state_controller:
      type: joint_state_controller/JointStateController
      publish_rate: 100

    joint_velocity_controller:
      type: velocity_controllers/JointVelocityController
      publish_rate: 100
      base_frame_id: base_link
      joint: vesc_joint
  </rosparam>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller joint_velocity_controller"/>
</launch>
